img.bg-photo {
    opacity: 0.4;
    background-size: contain;
    height: 100vh;
}

section.bg {
    overflow: hidden;
    height: 100%;
    background: rgb(166, 172, 199);
    width: 100%;
    position: absolute;
}