span.cardVisit {
    color: rgb(140, 31, 176);
}

div.registrationName span.loginAccount{
    font-size: 14px;
    color: rgb(0, 105, 197);
    cursor: pointer;
}

div.registrationName div.nameInput {
    padding: 30px 0;
}