section.principal {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

div.principal {
    display: flex;
    justify-content: space-around;
    padding-bottom: 80px;
    width: 100%;
}

div.principal button {
    height: 40px;
    border: none;
    background: var(--bg-btn);
    border-radius: var(--border-radius-btn);
    color: #fff;
    font-family: var(--font-default-family);
    width: 100px;
}