@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


:root {
    --bg-btn: #8461B0;
    --color-default: #5f457e;
    --border-radius-btn: 8px;
    --font-default-family: 'Poppins', sans-serif;

    --input-width: 260px;
    --input-height: 45px;
    
}

html, body, .App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

